@page "/register"

@using Microsoft.AspNetCore.Identity
@using FindYourDoctor.Data.Domain

@inject NavigationManager NavigationManager
@inject UserManager<User> UserManager
@inject IUserStore<User> UserStore

<MudContainer Style="width: 100%;">
    <MudPaper Class="pa4" Width="500px" Style="padding: 24px; margin: 30px auto auto;">
        <MudText Typo="Typo.h5">Register</MudText>
        <MudForm @ref="_form" @bind-IsValid="_success">
            <MudTextField T="string" Label="Username" @bind-Value="UserName" Required="true"
                          Validation="@(new Func<string, IEnumerable<string>>(ValidateUserName))"/>
            <MudTextField T="string" Label="Email" @bind-Value="Email" Required="true"
                          Validation="@(new Func<string, IEnumerable<string>>(ValidateEmail))"/>
            <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @bind-Value="Password" InputType="@_passwordType"
                          Validation="@(new Func<string, IEnumerable<string>>(ValidatePassword))" Required="true"
                          Adornment="Adornment.End" AdornmentIcon="@_passwordIcon" OnAdornmentClick="@ShowPassword"/>
            <MudTextField T="string" Label="Confirm Password" HelperText="Repeat the password" @bind-Value="ConfirmPassword" InputType="_confirmPasswordType"
                          Validation="@(new Func<string, string?>(ValidateConfirmPassword))" Required="true"
                          Adornment="Adornment.End" AdornmentIcon="@_confirmPasswordIcon" OnAdornmentClick="@ShowConfirmPassword"/>
            <div class="d-flex">
                <MudRadioGroup T="string" @bind-SelectedOption="AccountType" Required="true" RequiredError="Account type is required!">
                    <MudRadio Option="@("Patient")">Patient</MudRadio>
                    <MudRadio Option="@("Doctor")">Doctor</MudRadio>
                </MudRadioGroup>
            </div>
        </MudForm>
        <div style="width: 100%; display: flex; justify-content: end;">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">Register</MudButton>
        </div>
    </MudPaper>
</MudContainer>
